      



/*css for datatable of list student */

/**/
/*       .dataTables_filter {
   float: right !important;
}
*/

/*#example_paginate a {
  
  float:right;
  padding-left: 2px;
   color: blue;
   cursor: pointer;




  }*/
