{% extends 'base.html' %}
{% block main %}

<div class= "container">
	<div class ="row">
		<div class ='col-sm-4'>
	<a type ="button" class = "btn btn-primary m-2" href ="/add-document">Add Document</a>
</div>
<div class="col-sm-4"></div>
<div class ="col-sm-4">

    <form method="get" class="form-inline m-2">
        <div class="input-group">
            <input type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search by name">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
</div>

<div class="row">
	<table name ="list_document_table" class ="table mt-1 table-striped">

		<tr>
		<th>sn</th>
		<th> Student name</th>
		<th> Received Documents</th>
		<th>Received Date</th>
		<th>Button</th>

		</tr>
{% for instance in queryset %}
		<tr>
				
		<td>{{forloop.counter}}</td>
		<td> {{instance.student}}</td>
		<td> {{instance.name}}</td>
		<td>{{instance.received_date}}</td>
         <td>
         	 <a type ="submit" class ="btn btn-primary p-1" href ="/edit-document/{{instance.id}}">Edit</a>
         	 <a type ="submit" class ="btn btn-danger p-1" href ="/delete-document/{{instance.id}}">Delete</a>
         </td>
		</tr>

		{% empty %}
        <tr>
        	<td></td>
        	<td></td>
            <td  class="text-center"><b>No items found</b></td>
        </tr>
	{% endfor %}
	</table>
</div>
</div>
{% endblock %}

